[submodule "SIPL"]
	path = SIPL
	url = https://github.com/smistad/SIPL.git
[submodule "OpenCLUtilityLibrary"]
	path = OpenCLUtilityLibrary
	url = https://github.com/smistad/OpenCLUtilityLibrary.git
[submodule "OpenCLUtilities"]
	path = OpenCLUtilities
	url = git://github.com/smistad/OpenCLUtilities.git
